.paragraph{
    /* padding: 0 15vw; */
    text-align: justify;
    width: 60%;
    margin: auto;
    min-width: 300px;
}
.date{
    color: rgb(189, 189, 189);
}
.author{
    text-align: end;
    color: rgb(189, 189, 189);
}
.title{
    text-align: center;
}